.content-content__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-item h5 {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin: .5rem 0;
}

.content-item p {
    font-size: .9rem;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .content-section__wrapper {
        margin: 4rem 0;
    }
    .content-content__container {
        flex-direction: column;
        align-items: center;
    }
    .content-item {
        margin-bottom: 2rem;
    }
}