.inputField__container,
.flightDate__container {
  display: flex;
}

.flightSearchInput__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 4rem;
}

.inputField__container-top {
  display: flex;
}

.inputContainer {
  border-radius: 5px;
  width: 60%;
}
.dateContainer {
  width: 50%;
}
.inputContainer,
.dateContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-bottom: 1.2rem;
  margin-right: 1rem;
  background-color: #fff;
}

.inputContainer label,
.dateContainer label {
  position: absolute;
  top: 13px;
  left: 18px;
  z-index: 1;
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: #666666;
}

.inputContainer input,
.dateContainer input {
  position: relative;
  top: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding-top: 2rem;
  padding-left: 18px;
  padding-right: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

.inputContainer img {
  position: absolute;
  right: -32px;
  top: 6px;
  z-index: 1;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.flightRight__container {
  position: relative;
  width: 100%;
  /* border-radius: 5px; */
}

.flightRight__container .dateContainer {
  margin-right: 0;
  border: 1px solid #ced4da;
}

.flightDate__container {
  border-radius: 5px !important;
  margin-right: 1rem;
}

.flightDate__container .departing {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flightDate__container .returning {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-btn {
  width: 100%;
  margin-bottom: 1rem;
  background: linear-gradient(180deg, #ff9639 0%, #f07100 100%);
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}


.bottom {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-end;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.checkbox-input input {
  width: 100%;
  height: 100%;
}

.checkbox-input input[type="checkbox" i] {
  background-color: transparent !important;
}

.checkbox_col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.bottom .checkbox_col p,
.bottom .bestValue p {
  font-size: 14px;
  color: #fff;
}

.bestValue {
  display: flex;
  align-items: center;
}
.bestValue img {
  margin-right: 0.8rem;
}

.inputField__container-bottom {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.v-divider {
  width: 1px;
  height: 170px;
  background: linear-gradient(180deg, #ff9639 0%, #f07100 100%);
  margin-right: 4rem;
}

/* TOGGLE SWITCH STYLING */
.switch-container {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}
.switch-container h5 {
  margin-right: 1rem;
}

.toggle-switch {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 42px;
  background: linear-gradient(180deg, #ff9639 0%, #f07100 100%);
  border-radius: 50px;
  padding: 8px;
  font-size: 14px;
  margin-left: -5px;
}

.switch-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
  cursor: pointer;
}

.active-switch {
  transition: all .5s ease;
  width: fit-content;
  background: #fff;
  color: #f07100;
  border-radius: 25px;
  padding: 6px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}
.suggestions {
  background-color: #fff;
  position: relative;
  /* top: 20px; */
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  /* overflow-y: auto; */
  padding-left: 0;
  width: 100%;
  z-index: 1000;
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
  background-color: #f07100;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

@media screen and (max-width: 1200px) {
  .inputField__container-top{
    flex-direction: column;
  }

  .inputContainer {
    width: 100%;
    margin-right: 0 !important;
  }
  .dateContainer{
    width: 50%;
    margin-right: 0 !important;
  }

  .inputField__container {
    flex-wrap: wrap;
  }

  .inputContainer img {
    left: 42%;
    top: 79%;
  }

  .right {
    width: 100%;
  }
  .flightRight__container {
    justify-content: space-between;
  }
  .flightDate__container{
    width: 100%;
  }
  .search-btn {
    margin-right: 1rem;
  }
  .bottom {
    display: none;
  }
  .inputField__container-bottom, .v-divider {
    display: none;
  }
  .input-buttons__container {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .flightSearchInput__container{
    flex-direction: column;
    width: 100%;
    margin-right: 0 !important;
  }
  .flightRight__container {
    flex-wrap: wrap;
  }
  .search-btn {
    margin:  0;
    height: 65px;
    text-align: center;
    width: 100%;
  }
}
